<div class="filter-container">
    <span>filter:</span>
    <input type="radio" name="filter" value="All"
     [(ngModel)] = "defaultRadiobutton" (change)="onRadioButtonChange()">
    <span>{{'All Courses('+all+')'}}</span>
   
   
    <input type="radio" name="filter" value="Free" [(ngModel)] = "defaultRadiobutton" (change)="onRadioButtonChange()"> 
    <span>{{'Free Courses('+free+')'}}</span>
    
    
    <input type="radio" name="filter" value="Premium" [(ngModel)] = "defaultRadiobutton" (change)="onRadioButtonChange()">
    <span>{{'Premium Courses('+premium+')'}}</span>

</div>
